:root {
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 34%, 41%);
  --vDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --vDarkGrayishBlue: hsl(213, 9%, 39%);
  --dGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: "Fraunces", serif;
  color: black;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hide {
  display: none;
}

.dim {
  opacity: 0.5;
}

.row--mobile {
  display: flex;
  justify-content: space-between;
}

.reverse {
  flex-direction: row-reverse;
}

.green {
  color: var(--darkDesaturatedCyan) !important;
}

.blue {
  color: var(--darkBlue) !important;
}

.slice-bg {
  background-image: url(/images/mobile/image-header.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header {
  padding: 2em 0;
}

.nav {
  z-index: 2;
  position: absolute;
  top: 6em;
  background: #fff;
  width: 90%;
}

.nav::before {
  z-index: 2;
  content: "";
  position: absolute;
  right: 0;
  top: -25px;
  border-top: 25px solid transparent;
  border-left: 25px solid transparent;
  border-right: 25px solid white;
  border-bottom: 25px solid white;
}

.nav__list {
  width: 50%;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.nav__item {
  margin-top: 2em;
}

.nav__link {
  text-decoration: none;
  color: var(--dGrayishBlue);
  font-size: 1.25rem;
}

.nav__link--button {
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  width: fit-content;
  width: moz-fit-content;
  margin: 0 auto 2em auto;
  background: var(--yellow);
  padding: 1em 1.5em;
  border-radius: 10em;
  color: black;
  font-family: "Fraunces", serif;
}

.jumbo {
  min-height: 55vh;
}

.jumbo__title {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-size: 2.5rem;
}

.arrow {
  display: block;
  margin: 0 auto;
  padding: 3em 0 8.5em 0;
}

.section__img-container {
  background-size: 100% 100%;
  width: 100%;
  min-height: 40vh;
}

.section:nth-of-type(1) .section__img-container {
  background-image: url("/images/mobile/image-transform.jpg");
}

.section:nth-of-type(2) .section__img-container {
  background-image: url("/images/mobile/image-stand-out.jpg");
}

.section__content {
  text-align: center;
  line-height: 1.5em;
}

.section__title {
  font-size: 2rem;
  line-height: 1.25em;
  padding-top: 2em;
  color: var(--vDarkDesaturatedBlue);
  margin-bottom: 1em;
}

.section__text {
  color: var(--dGrayishBlue);
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.section__link {
  width: 50%;
  margin: 0 auto 3em auto;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 5px var(--yellow) solid;
  color: black;
  letter-spacing: 2px;
  display: block;
}

.section__link--pink {
  border-color: var(--softRed);
}

.cherry-bg,
.orange-bg {
  padding-top: 20em;
  padding-bottom: 2.5em;
  font-size: 0.9rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cherry-bg {
  background-image: url(/images/mobile/image-graphic-design.jpg);
}

.orange-bg {
  background-image: url(/images/mobile/image-photography.jpg);
}

.section__title--test {
  color: var(--dGrayishBlue);
  letter-spacing: 3px;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.test__img {
  display: block;
  border-radius: 50%;
  width: 25%;
  margin: 5em auto 2.5em auto;
}

.test__quote,
.test__name,
.test__job {
  text-align: center;
}

.test__quote {
  color: var(--vDarkGrayishBlue);
  line-height: 2em;
  font-size: 1rem;
}

.test__name {
  margin-top: 1em;
  font-family: "Fraunces", serif;
  font-size: 1.25rem;
}

.test__job {
  margin-top: 1em;
  color: var(--dGrayishBlue);
}

.gallery {
  margin-top: 5em;
}

.gallery__img-container {
  width: 100%;
  min-height: 20vh;
  background-size: 100% 100%;
}

.gallery__img-container:nth-of-type(1) {
  background-image: url(images/mobile/image-gallery-milkbottles.jpg);
}

.gallery__img-container:nth-of-type(2) {
  background-image: url(images/mobile/image-gallery-orange.jpg);
}

.gallery__img-container--row-2:nth-of-type(1) {
  background-image: url(images/mobile/image-gallery-cone.jpg);
}

.gallery__img-container--row-2:nth-of-type(2) {
  background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
}

.footer {
  background: #90d4c5;
}

.footer__logo {
  display: block;
  width: 58%;
  margin: 0 auto;
  padding: 3em 0 3em 0;
  filter: invert(36%) sepia(23%) saturate(1014%) hue-rotate(116deg)
    brightness(60%) contrast(88%);
}

.footer__nav-list,
.footer__socials {
  list-style: none;
}

.footer__nav-list {
  justify-content: space-around;
  margin-bottom: 5em;
}

.footer__nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--darkModerateCyan);
}

.footer__socials {
  justify-content: center;
  padding-bottom: 4em;
}

.socials__item + .socials__item {
  margin-left: 2em;
}

.socials__link {
  color: #fff;
}

.footer__nav-link:hover,
.footer__nav-link:focus {
  color: #fff;
}

.socials__link:focus img,
.socials__link:hover img {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(146deg)
    brightness(200%) contrast(101%);
}

@media (min-width: 700px) {
  .row {
    display: flex;
  }

  .row--mobile {
    width: 100%;
  }

  .slice-bg {
    background-image: url(/images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
  }

  .section__content,
  .section__img-container {
    width: 100%;
  }

  .section__img-container {
    background-size: cover;
    background-position: center;
  }

  .section:nth-of-type(1) .section__img-container {
    background-image: url("/images/desktop/image-transform.jpg");
  }

  .section:nth-of-type(2) .section__img-container {
    background-image: url("/images/desktop/image-stand-out.jpg");
  }

  .cherry-bg,
  .orange-bg {
    width: 100%;
  }

  .row--test {
    justify-content: space-between;
  }

  .test {
    width: 30%;
  }

  .test__img {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .hide {
    display: block;
  }

  .slice-bg {
    min-height: 100vh;
  }

  .header {
    padding: 0;
  }

  .nav::before {
    display: none;
  }

  .nav {
    display: flex;
    background-color: transparent;
    position: static;
    justify-content: flex-end;
    padding: 0;
  }

  .nav__logo {
    align-self: center;
    width: 10%;
  }

  .nav__burger {
    display: none;
  }

  .nav__list {
    padding-top: 1em;
    margin: 0 0 3em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav__item {
    padding: 0;
    margin: 0;
  }

  .nav__item + .nav__item {
    margin-left: 3em;
  }

  .nav__link {
    color: #fff;
  }

  .nav__link--button {
    margin: 0;
    color: black;
    background-color: #fff;
  }

  .nav__link--button:hover,
  .nav__link--button:focus {
    opacity: 0.5;
  }

  .jumbo__title {
    letter-spacing: 10px;
    font-size: 5rem;
    padding-top: 1em;
    margin-bottom: 0.75em;
  }

  .section__content {
    padding: 2em 0 7em;
    text-align: left;
  }

  .section__title {
    font-size: 3rem;
  }

  .section__title,
  .section__text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .section__link {
    margin-top: 5em;
    width: fit-content;
  }

  .section__img-container {
    background-size: 100% 100%;
  }

  .cherry-bg {
    background-image: url(images/desktop/image-graphic-design.jpg);
  }

  .orange-bg {
    background-image: url(images/desktop/image-photography.jpg);
  }

  .cherry-bg,
  .orange-bg {
    text-align: center;
    min-height: 75vh;
  }

  .section__content--two-cols {
    text-align: center;
    padding: 1em 0;
    font-size: 1rem;
  }

  .section__title--two-cols {
    font-size: 3rem;
    margin-top: 2em;
  }

  .section__title--test {
    font-size: 1.5rem;
  }

  .test {
    padding: 2.5em 0;
  }

  .test__img {
    width: 20%;
  }

  .gallery__img-container {
    min-height: 50vh;
  }

  .gallery__img-container:nth-of-type(1) {
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
  }

  .gallery__img-container:nth-of-type(2) {
    background-image: url(images/desktop/image-gallery-orange.jpg);
  }

  .gallery__img-container--row-2:nth-of-type(1) {
    background-image: url(images/desktop/image-gallery-cone.jpg);
  }

  .gallery__img-container--row-2:nth-of-type(2) {
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
  }

  .footer {
    padding: 5em 0;
  }

  .footer__logo {
    width: 12.5%;
  }

  .footer__nav-list {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
  }
}
